<h1>Import Sales Table</h1>

<%= form_with url: "/purchases", multipart: true do |form| %>
    <div>
        <%= form.label :file %><br>
        <%= form.file_field :file %>
    </div>
    <div><%= form.submit %></div>
<% end %>